doctype html
html(lang='en')
  head
    meta(charset='utf-8')  
    meta(name='author', content='Joshua Larks')  
    meta(name='description', content='A simple portfolio')  
    meta(name='viewport', content='width=device-width, initial-scale=1.0')  
    title Login App
    // <link rel="shortcut icon" href="img/favicon.ico">
    // FONTAWESOME
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // GOOGLE FONTS
    link(href='https://fonts.googleapis.com/css?family=Ek+Mukta:300,400,600|Oswald:400,700', rel='stylesheet')
    // MAIN CSS
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    // ****************   COMMENT   ****************
    form#form(action='#')
      h2#form-header Login
      p#message.hidden
    
      fieldset
        i.icon.icon-user
          input#username.input(type='text', placeholder='Username')
        
        i.icon.icon-lock-open
          input#password.input(type='password', placeholder='Password')
        
        button#btn(type='submit') Sign In
        
        .sign-up-group
          p#sign-up-text Need an account?&nbsp;  
          a#sign-up(href='#') Sign Up

    script(src='js/main.js')
